.git
.github
.tanstack
.vscode
config
data
dist
node_modules
prisma/generated
prisma/*.db
.dockerignore
.editorconfig
.env
.env.example
.gitignore
.prettierignore
components.json
docker-compose.yml
eslint.config.ts
*.code-workspace
mise.toml
README.md
renovate.json
tsconfig.buildinfo
