# Internal
DATABASE_URL="file:./dev.db"

# Auth
ADMIN_PASSWORD="$2b$10$3dOlwRfxLYsRTMMLqt.GIOAp4t5b/A199cKcBs/W.5r/cjiABtTO6" # Generated with salt.ts with password
AUTH_SESSION="$2b$10$fflbT6yq/rs1Tpj9NQb1Ru" # Any random string at least 32 characters long
AUTH_PEPPER="$2b$10$JqMDYWEgvF5PNnT6GwPeX." # Generate with salt.ts without password
