# Internal
DATABASE_URL="file:./dev.db"
#PORT=3333 # Set to change the application port.

# Auth
ADMIN_PASSWORD="$2b$10$3dOlwRfxLYsRTMMLqt.GIOAp4t5b/A199cKcBs/W.5r/cjiABtTO6" # Generated with salt.ts with password
AUTH_SESSION="$2b$10$fflbT6yq/rs1Tpj9NQb1Ru" # Any random string at least 32 characters long
AUTH_PEPPER="$2b$10$JqMDYWEgvF5PNnT6GwPeX." # Generate with salt.ts without password

# Media
#IMGPROXY_PORT="9000" # Set to change the port where Imgproxy operates.
#IMGPROXY_PATH="images" # Set to serve images from a path.
IMGPROXY_KEY="a key here"
IMGPROXY_SALT="the salt here"
MEDIA_PATH="./data/images"
MEDIA_HOST="images.ihunt.local"

# Notifications
# Generate the VAPID keys via `yarn web-push generate-vapid-keys`
VITE_VAPID_PUB_KEY="public key" # Note "VITE" prefix.
VAPID_PRIV_KEY="private key"
