@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-background: var(--background);
	--color-border: var(--border);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-foreground: var(--foreground);
	--color-input: var(--input);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-ring: var(--ring);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);

	--default-font-family: Kanit;
}

@utility text-shadow {
	text-shadow: 0 0 5px black;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer theme {
	:root {
		--background: var(--color-stone-200);
		--foreground: hsl(20 14.3% 4.1%);
		--card: hsl(0 0% 100%);
		--card-foreground: hsl(20 14.3% 4.1%);
		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(20 14.3% 4.1%);
		--primary: hsl(24 9.8% 10%);
		--primary-foreground: hsl(60 9.1% 97.8%);
		--secondary: hsl(60 4.8% 95.9%);
		--secondary-foreground: hsl(24 9.8% 10%);
		--muted: var(--color-stone-600);
		--muted-foreground: hsl(25 5.3% 44.7%);
		--accent: hsl(60 4.8% 95.9%);
		--accent-foreground: hsl(24 9.8% 10%);
		--destructive: hsl(0 84.2% 60.2%);
		--destructive-foreground: hsl(60 9.1% 97.8%);
		--success: rgb(34 197 94);
		--success-foreground: hsl(0 0 0);
		--border: hsl(20 5.9% 90%);
		--input: var(--color-stone-300);
		--ring: hsl(20 14.3% 4.1%);
	}

	.dark {
		--background: var(--color-stone-950);
		--foreground: var(--color-stone-100);
		--primary: var(--color-stone-100);
		--primary-foreground: var(--color-stone-900);
		--secondary: var(--color-stone-900);
		--secondary-foreground: var(--color-stone-100);
		--muted: var(--color-stone-700);
		--muted-foreground: var(--color-stone-500);
		--accent: var(--color-rose-700);
		--destructive: var(--color-red-600);
		--destructive-foreground: var(--color-red-100);
		--success: var(--color-lime-400);
		--success-foreground: var(--color-lime-950);

		--accent-foreground: hsl(60 9.1% 97.8%);
		--card: hsl(20 14.3% 4.1%);
		--card-foreground: hsl(60 9.1% 97.8%);
		--border: hsl(12 6.5% 15.1%);
		--input: var(--color-stone-800);
		--ring: hsl(24 5.7% 82.9%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
}
